{% extends 'profile.html' %}

{% block title %} Налаштування {% endblock %}

{% block right_settings %}
<form method="GET" enctype="multipart/form-data">

    <style>
        .errorlist {
          display: none;
        }
    </style>

    <script>
        var element = document.querySelector('.errorlist');
        if (element) {
          element.remove();
        }
    </script>        

    {% for msg in messages %}
        <h2 style="color:crimson">{{msg}}</h2> 
    {% endfor %}

    {{ form.as_p }}
    <button type="submit" class="btn btn-primary mb-2">Оновити</button>
</form>

{% endblock %}
       