{% extends 'base.html' %}

{% block title %} Зареєструватися {% endblock %}


{% block body %}
<h1>Зареєструватися</h1>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <style>
        .errorlist {
          display: none;
        }
    </style>

    <script>
        var element = document.querySelector('.errorlist');
        if (element) {
          element.remove();
        }
    </script>        

    {% for msg in messages %}
        <h2 style="color:crimson">{{msg}}</h2> 
    {% endfor %}

    {{ form.as_p }}

    <button type="submit" class="btn btn-primary mb-2">Зарегеструватися</button>

    <hr>
    
</form>

<h2>Вже зареєстрований?</h2>
<a href="/sign-in">Увійти</a>

{% endblock %}