{% extends 'project.html' %}

{% block title %} Завдання {{ title }} {% endblock %}

{% block down_block %}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Назва</th>
            <th scope="col">Опис</th>
            <th scope="col">Статус</th>
            <th scope="col">Дії</th>
        </tr>
    </thead>
    <tbody>
        {% for t in tasks %}
        <tr>
            <th scope="row">1</th>
            <td>{{t.title}}</td>
            <td>{{t.description}}</td>
            <td><span class="badge badge-pill badge-success">{{t.status}}</span></td>
            <td><button class="btn btn-link btn-sm">Delete</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}